nav{
    height:100%
}
.side-nav-button{
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    
    margin-left: -16px;
}
.side-nav-button > i{
    width: 30px;
    align-items: baseline;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.side-nav-button > h6{
   margin-bottom: 0px;
   margin-left: 5px;
}
.logout{
    cursor: pointer;     
    float: left;
    margin-right: 20px;
}
.backhead{
    background-color: #2D2779;  
    height: 50px;
} 
.navbar-brand{
    padding: 0px !important;
    
}
.dee{
    color: black;
}
.avatar{
    position: absolute;
    right: 270px;
    

}
.name{
    color: white;
    margin-top: 5px;
    width: 100%;
    margin-left: 5px;
}

.name.break-word{
    white-space: normal;
   

}
.btn{
    margin-right: 34px;
    margin-bottom: 16px;

}
.cbn{
    height: 120px; 
    width: 1px;
     height: 40px;
     width: 1.5px;
     background-color: white;
   margin: 5px;
}
 .border1{
    background-color: #2d2779;
    border: none;
    color: white;
      
}
.border1:focus{
    outline: none;
  }
  .form-control:focus{
   outline:none;
   box-shadow:none !important;
   text-align: left !important;
  }

  .rr{
    font-family: Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-size: medium;
    opacity: 1;
  }
  .fa-user{
    color: black;
  }



 
  