<div class="container23" >
  <mat-sidenav-container class="main-container">
    <mat-sidenav-content style="background: #F7F8FC 0% 0% no-repeat padding-box;
    opacity: 1; height: 40px;overflow-y:hidden;overflow-x: hidden;margin-left: -27px;" >
      <mat-toolbar class="header-toolbar">
        <mat-toolbar-row>
          <div class="header-content">
            <button mat-icon-button (click)="toggleSidenav()">

              <mat-icon><i class="fa-solid fa-arrows-left-right fa-sm" style="    width: 27px;margin-bottom: 14px;color: black;"></i></mat-icon>

            </button>
            <span class="dashBoard font-bold" style="color:#2D2779 !important">RESOURCE DASHBOARD</span>
            <span style="margin-left: 1180px;">


              <button
              matTooltip="Grid View"
              matTooltipPosition="below"
              class="font-white btn m-5 grid-view-button"
              (click)="onGridViewClick()"
             style="

             border-radius: 5px;
 
             opacity: 1;">
              <i class="fa fa-th-large" style="color: #2d2779 !important;"></i>
            </button>

            <button
            matTooltip="List View"
            matTooltipPosition="below"
            class="font-white btn m-5 list-view-button"
            (click)="onListViewClick()" style="background-color: #2D2779;"
          >
            <i class="fa fa-list font-white" style="color:white !important" ></i>
          </button>

          </span>
         



          </div>
          <!-- <div style="display: flex; justify-content: space-between; gap: 20px;">
          
            <div style="display: flex; align-items: center;">
              <label for="Location" style="font-size: 12px;">Location</label>
              <span style="margin-left: 5px;">
                <select (change)="fetchDropdownValuesThree()" [(ngModel)]="locationHolder" name="locationHolder" id="" style="font-size: 14px; border-radius: 10px;">
                  <option [value]="null" [selected]="true" [disabled]="true">Select Location</option>
                  <option *ngFor="let option of Locationdata" [value]="option.Description">{{ option.Description }}</option>
                </select>
              </span>
            </div>
            
            <div style="display: flex; align-items: center;">
              <label for="Group" style="font-size: 12px;">Group</label>
              <span style="margin-left: 5px;">
                <select (change)="fetchDropdownValuesThree()" [(ngModel)]="GroupHolder" name="GroupHolder" id="" style="font-size: 14px; border-radius: 10px;width: 133px">
                  <option [value]="null" [selected]="true" [disabled]="true">Select Group</option>
                  <option *ngFor="let option of workgroupdata" [value]="option.Description">{{ option.Description }}</option>
                </select>
              </span>
            </div>
       
            <div style="display: flex; align-items: center;">
              <label for="Product" style="font-size: 12px;">Product</label>
              <span style="margin-left: 5px;">
                <select (change)="fetchDropdownValuesThree()" [(ngModel)]="productHolder" name="productHolder" id="" style="font-size: 14px; border-radius: 10px;width: 133px" >
                  <option [value]="null" [selected]="true" [disabled]="true">Select Product</option>
                  <option *ngFor="let option of productdata" [value]="option.Description">{{ option.Description }}</option>
                </select>
              </span>
            </div>
            <span class="" style="margin-left: 80px;font-size: 17px;">
              <span *ngIf="locationHolder != null">Location: {{locationHolder}}</span>
              <span *ngIf="locationHolder != null">,</span>
              <span *ngIf="GroupHolder != null">Group: {{ GroupHolder }}</span>
              <span *ngIf="GroupHolder != null">,</span>
              <span *ngIf="productHolder != null">Product: {{productHolder}}</span>
            </span>
          </div> -->
          <!-- <span class="elipses" matTooltip="More Options" matTooltipPosition="below" [matMenuTriggerFor]="menu">
            <mat-icon class="dark-white">more_vert</mat-icon>
          </span> -->
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>


  <mat-sidenav-container class="main-container">

    <mat-sidenav #sidenav mode="side">
  
      <!-- Sidebar content from sidebar component -->
  
     <app-filterside></app-filterside>
  
    </mat-sidenav>

    <!-- //first -->
    <span *ngFor="let item of combinedArray ; let i = index" style="background: #DFE2EE 0% 0% no-repeat padding-box;border-radius: 15px;
    opacity: 1;display: inline-flex;font-size: 12px;padding: 5px;margin: 10px;">
  
    <label>{{ item }} <i class="fa-solid fa-xmark" (click)="deleteItem1(i)"></i></label></span>

     <!-- second -->

    <span *ngFor="let item of combinedArray1;let i = index" style="background: #DFE2EE 0% 0% no-repeat padding-box;border-radius: 15px;
    opacity: 1;display: inline-flex;font-size: 12px;padding: 5px;margin: 10px;">
    <label>{{ item }} <i class="fa-solid fa-xmark"(click)="deleteItem2(i)"></i></label></span>
 
    <!-- third -->
    
    <span *ngFor="let item of combinedArray2; let i = index" style="background: #DFE2EE 0% 0% no-repeat padding-box;border-radius: 15px;
    opacity: 1;display: inline-flex;font-size: 12px;padding: 5px;margin: 10px;">
    <label>{{ item }} <i class="fa-solid fa-xmark"(click)="deleteItem3(i)"></i></label></span>


  <div style="background: #F7F8FC 0% 0% no-repeat padding-box; margin-top: -15px;height: 612px">
  <div fxLayout="row" fxLayoutGap="20px" style="display: flex;margin-bottom: 2%;">
    <!-- First card -->
    <mat-card class="mat-card-layout mat-card statusActive"style="padding-top: 0px; width:187px;height:70px ">
      <mat-card-content fxLayout="row" fxLayoutAlign="start center">
        <span class="mine" fxFlex="100" fxLayout="column" style="display: flex;">
          <span style="margin-left: -30px;">
            <h5 class="header2">Active</h5>
          </span>
          <!-- Content for the first card -->
          <span style="margin-top: -11px; margin-left: 38px;">
            <h5 class="status_count1">{{totalCount6}}</h5>
          </span>
        </span>
      </mat-card-content>
    </mat-card>
  
    <!-- Second card -->
    <mat-card class="mat-card-layout mat-card statusActive" style="padding-top: 0px; width:187px;height:70px;background-color: #FFBF87;">
      <mat-card-content fxLayout="row" fxLayoutAlign="start center">
        <span class="mine" fxFlex="100" fxLayout="column"  style="display: flex;">
          <span style="margin-left: -30px;">
            <h5 class="header2">Notice</h5>
          </span>
          <!-- Content for the second card -->
          <span style="margin-top: -11px; margin-left: 38px;">
            <h5 class="status_count1">{{totalCount2}}</h5>
          </span>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
  
<!-- Cards -->
<div class="One" style="display: flex;">
<div class="mat-card custom-card" style="box-shadow: 0px 13px 25px #2D5BFF12;
border: 1px solid #0096BB14; background: #FFFFFF 0% 0% no-repeat padding-box; top: 231px;
left: 315px;
width: 335px;
height: 187px;">
  <div class="header" style="background-color: #ECF3FF;">
    <div class="left-icons">
      <i class="fa-solid fa-sun" style="margin-left: 1%;margin-left: 8px;
      /* top: 20px; */
      margin-top: 10px;
      width: 31px;
      height: 23px;"></i>
      <h5 class="custom-header-text">Designation</h5>
      <i
        class="fa fa-bar-chart"
        aria-hidden="true"
        matTooltip="View Chart"
        matTooltipPosition="right"
        (click)="onClickMethod1()"
        *ngIf="apiResponseDesignation.length > 0"
      ></i>
      <h5 class="custom-pointer" style="margin-left: -36px;margin-top: 9px">
        {{totalCount6}}</h5>
    </div>
  </div>
  <hr style="
  top: 280px;
left: 663px;
margin-top: 1px;
width: 335px;
height: 0px;
margin-left: -10px;
border: 1px dashed #DAEAF7;
opacity: 1;"/> 
    <!-- <div *ngFor="let card of cardsData; let i=index" class="new-mat-card" style="overflow-y: scroll;"> -->
    <!-- Your card content goes here -->
    <div class="rrr" style="overflow-y: auto;">
      <table>
    <ng-container *ngFor="let card of apiResponseDesignation;" class="new-mat-card">
      <tr>
      <td style="height: 3px;font-weight: bold;color: #4F5664;">{{card.Value}}</td>
      <span>
      <b><td style="margin-left: 34px;font-weight: bold;color: #000000;">{{ card.Count}}</td></b></span>
      <span style="margin-left: 14px;">
      <td class="percentagee">({{card.Percentage}}%)</td></span>
    </tr>
    <br>
    <!-- <p>{{detail|json}}</p> -->
  <!-- </div> -->
</ng-container>
</table>
  </div>
</div>

<!-- second -->
<div class="mat-card custom-card">
  <div class="header" style="background-color: #FFF6E7">
    <div class="left-icons">
      <i class="fas fa-key" style="margin-left: 1%;"></i>
      <h5 class="custom-header-text">Release</h5>
      <i
        class="fa fa-bar-chart"
        aria-hidden="true"
        matTooltip="View Chart"
        matTooltipPosition="right"
        (click)="onClickMethod()"
        *ngIf="apiResponse.length > 0"
      ></i>
      <h5 class="custom-pointer" style="margin-left: -33px;margin-top: 9px">{{totalCount4}}</h5>
    </div>
  </div>
  <hr style="
  top: 280px;
left: 663px;
margin-top: 1px;
width: 335px;
margin-left: -10px;
color: black !important;
height: 0px;
border: 1px dashed #DAEAF7;
opacity: 1;"/> 
    <!-- <div *ngFor="let card of cardsData; let i=index" class="new-mat-card" style="overflow-y: scroll;"> -->
    <!-- Your card content goes here -->
    <div class="rrr" style="overflow-y: auto;">
      <table>
    <ng-container *ngFor="let card of apiResponse; let i=index" class="new-mat-card">
      <tr>
      <td style="height: 3px;font-weight: bold;color: #4F5664;">{{card.Value}}</td>
      <span class="const" style="margin-left: 131px;">
      <td style="margin-left: 19px;font-weight: bold;color: #000000;">{{ card.Count}}</td></span>
      <span style="margin-left: 14px;">
        <td class="percentagee">({{ card.Percentage}}%)</td> </span>
    </tr>
    <br>
    <!-- <p>{{detail|json}}</p> -->
  <!-- </div> -->
</ng-container>
</table>
  </div>
</div>
<!-- Third -->

<div class="mat-card custom-card">
  <div class="header" style="background-color: #E9F8FF">
    <div class="left-icons">
      <i class="fas fa-users"></i>
      <h5 class="custom-header-text">Team</h5>
      <i
        class="fa fa-bar-chart"
        aria-hidden="true"
        matTooltip="View Chart"
        matTooltipPosition="right"
        (click)="onClickMethod4()"
        *ngIf="apiResponseTeam.length > 0"
      style="margin-left: 12px;"></i>
      <h5 class="custom-pointer" style="margin-left: -47px;margin-top: 9px">{{totalCount3}}</h5>
    </div>
  </div>
  <hr style="
  top: 280px;
  margin-top: 1px;
left: 663px;
width: 335px;
margin-left: -10px;
height: 0px;
border: 1px dashed #DAEAF7;
opacity: 1;"/> 
    <!-- <div *ngFor="let card of cardsData; let i=index" class="new-mat-card" style="overflow-y: scroll;"> -->
    <!-- Your card content goes here -->
    <div class="rrr" style="overflow-y: auto; overflow-x: hidden;">
     <!-- <table>
        <ng-container *ngFor="let card of apiResponseTeam; let i=index" class="new-mat-card">
          <div>
          <span style="height: 3px;font-weight: bold;color: #4F5664;min-width: 90%;max-width: 90%;">{{card.Value}}</span>
          <span class="const" style="margin-left: 146px;">
          <span style="margin-left: 19px;font-weight: bold;color: #000000;">{{ card.Count}}</span></span>
          <span style="margin-left: 14px;">
            <span class="percentagee">({{ card.Percentage}}%)</span> </span>
          </div>
        <br>
    </ng-container>
</table>-->
<table class="fullData" style="width: 113%;">
  <ng-container *ngFor="let card of apiResponseTeam; let i=index" class="new-mat-card">
    <tr>
    <td style="height: 3px;font-weight: bold;color: #4F5664;">{{card.Value}}</td>
    <span>
    <b><td style="margin-left: 34px;font-weight: bold;color: #000000;">{{ card.Count}}</td></b></span>
    <span style="margin-left: 14px;">
    <td class="percentagee">({{card.Percentage}}%)</td></span>
  </tr>
  <br>
  <!-- <p>{{detail|json}}</p> -->
<!-- </div> -->
</ng-container>
</table>
  </div>
</div>
</div>
<br>
<br>
<div class="Two" style="display: flex;">
<!-- Four -->
<div class="mat-card custom-card">
  <div class="header" style="background-color: #E9F8FF">
    <div class="left-icons">
      <i class="fas fa-users"></i>
      <h5 class="custom-header-text">Onboarded</h5>
      <i
        class="fa fa-bar-chart"
        aria-hidden="true"
        matTooltip="View Chart"
        matTooltipPosition="right"
        (click)="onClickMethod2()"
        *ngIf="apiResponseOnboarding.length > 0"
      style="margin-left: 12px;"></i>
      <h5 class="custom-pointer" style="margin-left: -47px;margin-top: 9px">{{totalCount1}}</h5>
    </div>
  </div>
  <hr style="
  top: 280px;
  margin-top: 1px;
left: 663px;
width: 335px;
margin-left: -10px;
height: 0px;
border: 1px dashed #DAEAF7;
opacity: 1;"/> 
    <!-- <div *ngFor="let card of cardsData; let i=index" class="new-mat-card" style="overflow-y: scroll;"> -->
    <!-- Your card content goes here -->
    <div class="rrr" style="overflow-y: auto; ">
     <!-- <table>
        <ng-container *ngFor="let card of apiResponseTeam; let i=index" class="new-mat-card">
          <div>
          <span style="height: 3px;font-weight: bold;color: #4F5664;min-width: 90%;max-width: 90%;">{{card.Value}}</span>
          <span class="const" style="margin-left: 146px;">
          <span style="margin-left: 19px;font-weight: bold;color: #000000;">{{ card.Count}}</span></span>
          <span style="margin-left: 14px;">
            <span class="percentagee">({{ card.Percentage}}%)</span> </span>
          </div>
        <br>
    </ng-container>
</table>-->
<table class="fullData">
  <ng-container *ngFor="let card of apiResponseOnboarding; let i=index" class="new-mat-card">
    <tr>
    <td style="height: 3px;font-weight: bold;color: #4F5664;">{{card.Value}}</td>
    <span>
    <b><td style="margin-left: 34px;font-weight: bold;color: #000000;">{{ card.Count}}</td></b></span>
    <span style="margin-left: 14px;">
    <td class="percentagee">({{card.Percentage}}%)</td></span>
  </tr>
  <br>
  <!-- <p>{{detail|json}}</p> -->
<!-- </div> -->
</ng-container>
</table>
  </div>
</div>


<!-- Five -->
<div class="mat-card custom-card">
  <div class="header" style="background-color: #FFF6E7">
    <div class="left-icons">
      <i class="fa fa-user-times" style="margin-left: 1%;"></i>
      <h5 class="custom-header-text">Resigned</h5>
      <i
        class="fa fa-bar-chart"
        aria-hidden="true"
        matTooltip="View Chart"
        matTooltipPosition="right"
        (click)="onClickMethod3()"
        *ngIf="apiResponseResigned.length > 0"
      style="margin-left: 26px"></i>
      <h5 class="custom-pointer" style="margin-left: -51px; margin-top: 9px"> {{totalCount2}}</h5>
    </div>
  </div>
  <hr style="
  top: 280px;
left: 663px;
width: 335px;
margin-top: 1px;
margin-left: -10px;
height: 0px;
border: 1px dashed #DAEAF7;
opacity: 1;"/> 
    <!-- <div *ngFor="let card of cardsData; let i=index" class="new-mat-card" style="overflow-y: scroll;"> -->
    <!-- Your card content goes here -->
    <div class="rrr" style="overflow-y: auto;">
      <table>
    <ng-container *ngFor="let card of apiResponseResigned; let i=index" class="new-mat-card">
      <tr>
      <td style="height: 3px;font-weight: bold;color: #4F5664;">{{card.Value}}</td>
      <span class="const" style="margin-left: 59px;">
        <td style="font-weight: bold;color: #000000;">{{ card.Count}}</td></span>
        <span style="margin-left: 15px;">
          <td class="percentagee">({{ card.Percentage}}%)</td> </span>
    </tr>
    <br>
    <!-- <p>{{detail|json}}</p> -->
  <!-- </div> -->
</ng-container>
</table>
  </div>
</div>
</div>
</div>