<mat-card class="mat-card">
    <div>
    <span class="designation">Designation</span>
    <span class="count">837</span>
</div>
    <span class="header">
        <span class="heading">Name</span>
        <span class="pro">Progress</span>
        <span class="size">Size</span>
    </span>
    <div class="name-progress">
      <div class="name1">John Doe</div>
      <mat-progress-bar mode="determinate" [value]="progress" style="height: 4px;
      width: 152px;
      margin-left: 66px;
      border-radius: 9px"></mat-progress-bar>
      <div class="progress">75%</div>
    </div>
  </mat-card>
  