.mat-card {

  margin-top: 94px;
  margin-left: 20px;
  height: 411px;

  width: 466px;
  background-color: white;
  border-radius: 3px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  padding: 20px;
}
.click{
  margin-left: 51%;
  cursor: pointer;
}
.count{
  margin-left: 10px;
  color: white;
  background-color: darkblue;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 5px;
  font-size: 14px;
  height: 10px;
  font-weight: bold;
}
.designation {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: darkblue;
}
.name-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.pro{
  color:darkblue;
  font-weight: bold;
}
.name1 {
  font-size: 16px;
  margin-left: 8px;
  color: gray;
}

.progress {
  font-size: 14px;
  background-color: white;
  margin-right: 10px;
  color: grey; /* Set your desired color for the progress */
}
.heading{
  margin-left: 8px;
  font-weight: bold;
  color: darkblue;
}
.size{
  margin-right: 10px;
  font-weight: bold;
  color:darkblue;
}
.header{
  font-size: 16px;
  margin-top: 20px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51px;
  width: 435px;
}


.percentage {
  position: absolute;
  margin-left: 199px;
  margin-bottom: 3px;
  font-size: 12px; 
  font-weight: bold;
  color: grey;
  margin-top: -15px;
  margin-right: 6px; /* Adjust to position the percentage text as desired */
}

.progress-bar {
  width:150px;
  height: 5px;
  background-color: #f0f0f0;
  border-radius: 10px
}

.graph {
  height: 100%;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
}

