<mat-card class="mat-card">
  <div>
  <span class="designation">Designation</span>
  <span class="count">{{totalCount6}}</span>
  <span class="click"  (click)="viewAll()">View All</span>
</div>
  <span class="header">
      <span class="heading">Name</span>
      <span class="pro">Progress</span>
      <span class="size">Size</span>
  </span>

  <table style="margin-bottom: -25px;">
    <ng-container *ngFor="let card of apiResponseDesignation.slice(0, 10);  let i = index;">
      <tr class="name-progress">
        <td class="name1">{{ card.ShortValue}}</td>
        <td class="percentage no-margin">
          <div>{{ card.Percentage }}%</div>
          <div class="progress-bar">
            <div class="graph" [ngStyle]="getProgressBarStyle(i)"></div>
          </div>
          </td>
  
        <td class="progress">{{ card.Count }}</td>
      </tr>
    </ng-container>
  </table>
  
  

  
  <br>
</mat-card>
